* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none!important;
    color: #999;
}

a:hover {
    text-decoration: none;
    color: #999;
}

img {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
    border: none;
}

button {
    border: none;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: ".";
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@media screen and (max-width:991px) {}

@media screen and (max-width:767px) {}